{% extends "base.html" %}
{% block title %}KomoraSOFT{% endblock %}

{% block content %}
    <div class="container" align="center">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="{{url_for('core.static',filename='images/person-exclamation.svg')}}" class="card-img-top" alt="Nisi vpisan!">
            <div class="card-body">
              <h5 class="card-title">Niste vpisani!</h5>
              <p class="card-text">Za izvedbo tega dejanja morate biti vpisani. Če še nimate svojega računa, si ga ustvarite.</p>
              <a href="{{url_for('users.login')}}" class="btn btn-primary">Vpiši se</a>
              <a href="{{url_for('users.signup')}}" class="btn btn-primary">Ustvari račun</a>
            </div>
          </div>
    </div>
{% endblock %}