<!-- confirm START Modal -->
<div class="modal fade" id="confirmStartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmStartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="confirmStartModalLabel" style="color: chartreuse;">Zagon programa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><br>
                <p id="confirmStartMessage">Ste prepričani, da želite zagnati program po izbranih nastavitvah?</p>
                <form id="confirmStartForm" action="{{url_for('simple.start')}}" method="POST">
                    <input id="confirmStart_SettingID" name="confirmStart_SettingID" hidden>
                    <div align="right">
                        <button type="submit" class="btn btn-primary">Potrdi</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Prekliči</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>