<div class="row simpleRow">
    <div class="col-md-1 simpleCol">
        <img class="simpleImages" src="{{url_for('simple.static', filename='images/3.png')}}" alt="Dušik">
    </div>
    <div class="col-md-2 simpleCol">
        <h6>Dušik</h6>
    </div>
    <div class="col-md-3 simpleCol">
        <div class="row row-time">
            <h7 class="col timeInput">INTERVAL -> Vklopi na vsake: </h7>
        </div>
        <div class="row row-time">
            <h7 class="col timeInput">TRAJANJE -> za obdobje:</h7>
        </div>
    </div>
    <div class="col  timeDuration">
        <div class="row row-time">
                <!-- <input type="text" class="col form-control-sm timeInput" placeholder="Dni" aria-label="Dni"> -->
                <select class="col form-select form-select-sm myselection" id="dusikDaysSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="dusikHoursSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="dusikMinutesSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="dusikSecondsSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
        </div>
        <div class="row row-time">
            <div class="col-md-3"></div>
            <select class="col form-select form-select-sm myselection" id="dusikHoursSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
            <select class="col form-select form-select-sm myselection" id="dusikMinutesSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
            <select class="col form-select form-select-sm myselection" id="dusikSecondsSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
        </div>
    </div>
</div>


<script>
    function generateSelectOptions(selectElementId, rangeEnd, units) {
    const selectElement = document.getElementById(selectElementId);
    
    // Clear existing options (optional)
    selectElement.innerHTML = '';

    // Create and append options
    for (let i = 0; i <= rangeEnd; i++) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = `${i} ${units}`; // Adjust textContent as needed
        selectElement.appendChild(option);
        }
    }

    // Call the function to generate options from 0 to 31
    generateSelectOptions('dusikDaysSelect', 30, 'dni');
    generateSelectOptions('dusikHoursSelect', 23, 'ur');
    generateSelectOptions('dusikMinutesSelect', 59, 'minut');
    generateSelectOptions('dusikSecondsSelect', 59, 'sekund');

    generateSelectOptions('dusikHoursSelectDuration', 23, 'ur');
    generateSelectOptions('dusikMinutesSelectDuration', 59, 'minut');
    generateSelectOptions('dusikSecondsSelectDuration', 59, 'sekund');
</script>