<div id="simple-col2" class="col">
    <br><br><br><br>
    <div class="header">
        <h4>Zaženi</h4>
    </div><br><br><br><br>
    <h3 id="submittedSetting"></h3>
    <input type="text" id="submittedSettingID" hidden>
    <br><br><br><br>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col">
            <button type="button" id="settingStartButton" class="icon-button" data-bs-toggle="modal" data-bs-target="#confirmStartModal" onclick="settingSTART()">
                <img src="{{url_for('simple.static', filename='images/play-button.png')}}" alt="Play Button" id="playButton">
            </button>
        </div>
        <div class="col">
            <button type="button" id="settingStopButton" class="icon-button"  data-bs-toggle="modal" data-bs-target="#confirmStopModal">
                <img src="{{url_for('simple.static', filename='images/stop-button-rounded.png')}}" alt="Stop Button" id="stopButton">
            </button>
        </div>
    </div>
</div>