<!-- Load Settings Modal -->
<div class="modal fade" id="loadSettingsModal" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loadSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 60%;">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="loadSettingsModalLabel" style="color: chartreuse;">
                    Uvozi nastavitve
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><br><br>
            
            <div class="container">
                <input type="file" id="chosenFile" class="form-control w-75 p-1" aria-label="file example" required>
                <div class="invalid-feedback">Neveljavno!</div><br><br>
                <div align="right">
                    <button type="submit" class="btn btn-primary" id="importSettings" >Uvozi</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Prekliči</button>
                </div><br><br>
            </div>
            
        </div>
    </div>
</div>


<script>
    document.getElementById('importSettings').addEventListener('click', function() {
    // Get the file input
    var fileInput = document.getElementById('chosenFile');
    var file = fileInput.files[0];
    
    // Make sure a file is selected
    if (!file) {
        alert('Please select a file!');
        return;
    }

    // Prepare the FormData object
    var formData = new FormData();
    formData.append('file', file);

    // Send the file to the server
    fetch('import_settings', {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (response.ok) {
            // You can also close the modal or refresh the page here
            document.querySelector('#loadSettingsModal .btn-close').click();
            alert('Datoteka uspešno uvožena!');
        } else {
            alert('Neuspešen uvoz datoteke.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Napaka med uvažanjem datoteke.');
    });


    // Display the filename on a webpage
    const selectElement = document.getElementById('loadedSettingField');
    // Clear existing options (optional)
    selectElement.innerHTML = '';
    const loadedSettingTitle = document.createElement('h4');

    filetitle = chosenFile.value;
    // Extract just the file name without the path
    let fileName = filetitle.split('\\').pop();
    // Remove the file extension to get only "humidity"
    let name = fileName.split('.').slice(0, -1).join('.');
    loadedSettingTitle.innerText= 'Trenutne nastavitve: '+name;
    // alert('Test filename loaded');
    selectElement.appendChild(loadedSettingTitle);
});
</script>
    