<!-- <div class="row">
    <div class="col">
        <div class="input-group">
            <input type="file" class="form-control" id="importSettings" title="Uvozi nastavitve" aria-describedby="inputGroupFileAddon04" aria-label="Uvozi nastavitve">
            <button class="btn btn-outline-secondary" type="button" id="importSettingsConfirm">Button</button>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-success">Shrani trenutne nastavitve</button>
    </div>
</div><br> -->
<div class="row">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <h4>Nastavi</h4>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active" href="#">Uvozi nastavitve</a></li>
        <li><a class="dropdown-item" href="#">Shrani</a></li>
        <li><a class="dropdown-item" href="#">Shrani kot...</a></li>
        </ul>
    </div>
</div><br>