<div class="row simpleRow">
    <div class="col-md-1 simpleCol">
        <img class="simpleImages" src="{{url_for('simple.static', filename='images/2.png')}}" alt="Ventilator uparjalnika">
    </div>
    <div class="col-md-2 simpleCol">
        <h6>Ventilator uparjalnika</h6>
    </div>
    <div class="col-md-3 simpleCol">
        <div class="row row-time">
            <h7 class="col timeInput">INTERVAL -> Vklopi na vsake: </h7>
        </div>
        <div class="row row-time">
            <h7 class="col timeInput">TRAJANJE -> za obdobje:</h7>
        </div>
    </div>
    <div class="col  timeDuration">
        <div class="row row-time">
                <!-- <input type="text" class="col form-control-sm timeInput" placeholder="Dni" aria-label="Dni"> -->
                <select class="col form-select form-select-sm myselection" id="venUparDaysSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="venUparHoursSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="venUparMinutesSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
                  <select class="col form-select form-select-sm myselection" id="venUparSecondsSelect" aria-label="Small select example">
                    <!-- JS code here -->
                  </select>
        </div>
        <div class="row row-time">
            <div class="col-md-3"></div>
            <select class="col form-select form-select-sm myselection" id="venUparHoursSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
            <select class="col form-select form-select-sm myselection" id="venUparMinutesSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
            <select class="col form-select form-select-sm myselection" id="venUparSecondsSelectDuration" aria-label="Small select example">
            <!-- JS code here -->
            </select>
        </div>
    </div>
</div>

<script>
    function generateSelectOptions(selectElementId, rangeEnd, units) {
    const selectElement = document.getElementById(selectElementId);
    
    // Clear existing options (optional)
    selectElement.innerHTML = '';

    // Create and append options
    for (let i = 0; i <= rangeEnd; i++) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = `${i} ${units}`; // Adjust textContent as needed
        selectElement.appendChild(option);
        }
    }

    // Call the function to generate options from 0 to 31
    generateSelectOptions('venUparDaysSelect', 30, 'dni');
    generateSelectOptions('venUparHoursSelect', 23, 'ur');
    generateSelectOptions('venUparMinutesSelect', 59, 'minut');
    generateSelectOptions('venUparSecondsSelect', 59, 'sekund');

    generateSelectOptions('venUparHoursSelectDuration', 23, 'ur');
    generateSelectOptions('venUparMinutesSelectDuration', 59, 'minut');
    generateSelectOptions('venUparSecondsSelectDuration', 59, 'sekund');
</script>